body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    text-align: center;
    margin: 30px;
    background-color: white;

}
#facts{
    margin-top: 20px;
    font-size: 18px;
}